[submodule ".registry"]
	path = .registry
	url = https://github.com/tidyfun/tidyfun.r-universe.dev
	branch = HEAD
[submodule "tf"]
	path = tf
	url = https://github.com/tidyfun/tf
[submodule "tidyfun"]
	path = tidyfun
	url = https://github.com/tidyfun/tidyfun
